<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>twitterSignInTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>23A6CF271C350282005BA31C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23A6CF401C350282005BA31C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23A6CF4B1C350282005BA31C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
